<!---Navigation Section----->
<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="logo.png" alt="" class="d-inline-block align-text-middle" id="logo"> Course Management Application
        </a>
        <a href="/addCourse"><button class="btn btn-outline-success" type="submit">Add Course</button></a>
    </div>
</nav>